include ../partials/header.pug
h1(class="h1")= message
  h2(class="h2") Créer un événement
  form(method="post" action="/party").newParty
    div(class="form-group").newParty__fields
      label(for="name") Nom de l'événement
      input(class="form-control" name="name" id="name" required minlength="3" placeholder="Nouvel an")
      label(for="author" required) Votre pseudo
      input(class="form-control" name="author" id="author" required minlength="3" placeholder="John")
      label(for="date") Date de l'événement
      input(class="form-control" name="date" id="date" type="date")
    button(class="btn btn-primary" type="submit") Créer
      
  